body{
    font: "arial";
    font-weight: 700;
    font-family: "Montserrat";
}

h1{
    font-size: 3.5rem;
}

h2{
    font-family: "Montserrat-bold";
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font: 1.7em sans-serif;
}

.colored-section{
    background-color: #ff4c68;
    color: white;
}

.white-section{
    background-color: white;
    color: black;
}

.container-fluid{
    padding: 3% 15% 7%;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 3.5rem;
    font-weight: bold;
}

.navbar{
    padding-bottom: 4.5rem;
}

.download-button{
    margin: 5% 3% 5% 0;
}

.title-image{
    scale: .9;
    padding: 0 0 10% 10%;
    transform: rotate(25deg);
}

.features-div{
    text-align: center;
}


#features{
    font-style: "Montserrat-bold";
    padding: 7% 20%;
}


.features-icons{
    margin-bottom: 1rem;
}

.features-icons:hover{
    transform: scale(1.15);
}

/* testimonial */

#testimonials{
    text-align: center;
}

.testimonials-div{
    margin: 0 auto 0 auto;
}

.carousel-item{
    padding: 7% 15%;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* press */

#press{
    text-align: center;
    padding-bottom: 3%;
}

.press-image{
    width: 17%;
    margin: 20px 20px 50px;
}

/* pricing section */

#pricing{
    padding: 100px 100px 25px;
    text-align: center;
}

.pricing-column{
    padding: 3% 1%;
}

.row-card{
    font-size: small;
}

@media (max-width: 1028px) {
    #title{
        text-align: center;
    }

    .title-image{
        transform: rotate(0);
}}

#cta{
    font-weight: 700;
    font-family: "Montserrat Black";
    text-align: center;
    padding: 7% 15% 0;
}

#footer{
    padding: 1%;
    text-align: center;
}

.copyright{
    margin-bottom: 0;
}